GetAccessTokengraphapi_LogicApps.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","uaecentral","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}}},"resources":[{"type":"Microsoft.Logic/workflows","apiVersion":"2016-06-01","name":"[parameters('logicAppName')]","location":"[parameters('logicAppLocation')]","properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"HTTP":{"runAfter":{},"type":"Http","inputs":{"method":"POST","uri":"https://login.microsoftonline.com/Tenant_ID/oauth2/token","headers":{"content-type":"application/x-www-form-urlencoded"},"body":"grant_type=client_credentials\n&client_id= \n&client_secret=\n&resource= https://graph.microsoft.com\n&username=\n&password="}},"Bedingung":{"actions":{"JSON_analysieren":{"runAfter":{},"type":"ParseJson","inputs":{"content":"@body('HTTP')","schema":{"type":"object","properties":{"token_type":{"type":"string"},"expires_in":{"type":"string"},"ext_expires_in":{"type":"string"},"expires_on":{"type":"string"},"not_before":{"type":"string"},"resource":{"type":"string"},"access_token":{"type":"string"}}}}}},"runAfter":{"HTTP":["Succeeded"]},"else":{"actions":{"Beenden":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"code":"401","message":"Access Token nicht gefunden"}}}}},"expression":{"equals":["@outputs('HTTP')['statusCode']",200]},"type":"If"}}},"parameters":{},"runtimeConfiguration":{"lifetime":{"unit":"Day","count":30},"collections":{"maximumItemCount":100000},"performanceProfile":{"throttles":{"mode":"Medium"}},"usageConfiguration":{"name":"USER-97E0D958A2104ABC8362E74B12C49270"}},"integrationAccount":{"name":"8b5a0a4446934b69b444e5378ae9c0aa-westeurope","id":"subscriptions/c6c6344b-0825-4478-a78d-c56f2e99ebe1/resourceGroups/8b5a0a4446934b69b444e5378ae9c0aa-ia/providers/Microsoft.Logic/integrationAccounts/8b5a0a4446934b69b444e5378ae9c0aa-westeurope","type":"Microsoft.Logic/integrationAccounts"}}}]}